name: Daily Stock Update

on:
  schedule:
    - cron: '0 10 * * *' # 每天台灣時間 18:00 執行
  workflow_dispatch: # 允許手動點擊執行

jobs:
  build:
    runs-on: ubuntu-latest
    # 授予 Actions 寫入權限，確保能存檔
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@
